{% extends 'base2.html' %}
{% block content %}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card p-3 mb-3">
            <div class="card-body py-0 px-0 px-sm-3">
                <div class="row align-items-center">
                    <h2>New Report</h2>
                </div>
            </div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard_view' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'client_report_list' %}">Client Reports</a></li>
                    <li class="breadcrumb-item active" aria-current="page">New Report</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="card stretch-card">
    <div class="card-body">
        <form id="reportForm" method="post" action="#">
            {% csrf_token %}
            <div class="form-group">
                <div class="mb-5 d-flex flex-column flex-md-row align-items-center">
                    <div class="mb-2 mb-md-0 col-12 col-md-2">
                        <label for="report_name" class="form-label">Report Name:</label>
                    </div>
                    <div class="col-12 col-md-10">
                        <input id="report_name" class="form-control" type="text" name="report_name" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="mb-5 d-flex flex-column flex-md-row align-items-center">
                    <div class="mb-2 mb-md-0 col-12 col-md-2">
                        <label for="client" class="form-label">Client :</label>
                    </div>
                    <div class="col-12 col-md-10">
                        <input id="client" class="form-control" type="text" name="client" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="mb-5 d-flex flex-column flex-md-row align-items-center">
                    <div class="mb-2 mb-md-0 col-12 col-md-2">
                        <label for="report_data" class="form-label">Report :</label>
                    </div>
                    <div class="col-12 col-md-10">
                        <textarea id="report_data" name="report_data" class="form-control h-100" required></textarea>
                    </div>
                </div>
            </div>

            <div class="mb-3 d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-success btn-rounded btn-lg mr-3" id="submit-button" onclick="checkClient()">Create</button>
            </div>
        </form>
    </div>
</div>
<script>
    function checkClient(){
        var clientName = document.getElementById('client').value;
        fetch(`{% url 'check_client_view' name="abcd" %}`.replace("abcd", clientName))
            .then(response => response.json())
            .then(data=>{
                if (data.success){
                    document.getElementById('reportForm').submit();
                } else {
                    alert(data.error);
                }
            })
            .catch(error => {
                console.error('Error : ', error);
                alert("Error while checking client...")
            });
    }
</script>

{% endblock %}