<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Login | Admin</title>
  <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">

  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="row w-100 m-0">
        <div class="content-wrapper full-page-wrapper auth login-bg">
          {% if messages %}
          {% for message in messages %}
          <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}
          <div class="d-flex align-items-center h-100 w-100">
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                <h3 class="card-title text-left mb-3">Reset Password</h3>
                <form method="post" id="passwordForm" action="{% url 'reset_forgot_password' %}?username={{request.GET.username}}">
                  {% csrf_token %}
                  <div class="form-group">
                    <label>New Password</label>
                    <input type="password" class="form-control p_input" name="password"
                        id="password" required>
                    <div class="invalid-feedback">Password must be at least 8 characters long,
                        contain a
                        mix of uppercase, lowercase, numbers, and special characters.</div>
                </div>
                <div class="form-group">
                    <label>Confirm New Password</label>
                    <input type="password" class="form-control p_input" name="password2"
                        id="password2" required>
                    <div class="invalid-feedback">Passwords do not match.</div>
                </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-success btn-block enter-btn">Submit</button>
                  </div>

                  <p class="sign-up"><a href="{% url 'admin_login' %}">Log In</a></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'assets/js/off-canvas.js' %}"></script>
  <script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'assets/js/misc.js' %}"></script>
  <script src="{% static 'assets/js/settings.js' %}"></script>
  <script src="{% static 'assets/js/todolist.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script>

<script>
    document.getElementById('passwordForm').addEventListener('submit', function (event) {
            event.preventDefault();
            validateForm();
        })

        document.getElementById('password').addEventListener('blur', validatePassword);
        document.getElementById('password2').addEventListener('blur', validatePassword2);

        function validatePassword() {
            var password = document.getElementById('password');
            var passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
            if (password.value.length < 8 || !passwordPattern.test(password.value)) {
                password.classList.add('is-invalid');
                return false;
            } else {
                password.classList.remove('is-invalid');
                return true;
            }
        }


        function validatePassword2() {
            var password2 = document.getElementById('password2');
            var password = document.getElementById('password');
            if (password2.value.length <= 0 || password.value !== password2.value) {
                password2.classList.add('is-invalid');
                return false;
            } else {
                password2.classList.remove('is-invalid');
                return true;
            }
        }


        function validateForm() {
            var isValid = true;
            if (!validatePassword()) isValid = false;
            if (!validatePassword2()) isValid = false;

            if (isValid) {
                document.getElementById('passwordForm').submit();
            }
        }


    </script>

</body>

</html>