{% extends 'user_base.html' %}
{% load static %}
{% block subcontent %}

<div class="container-fluid login-header py-5">
    <h1 class="text-center text-white display-6">Forgot Password</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="{% url 'homepage_view' %}">Home</a></li>
        <li class="breadcrumb-item active text-white">Forgot Password</li>
    </ol>
</div>

<div class="container-fluid d-flex justify-content-center py-5">
    <div class="col-lg-5">
        <div class="text-center rounder bg-light p-4">
            <h3>Reset Password</h3>
            <form class="row login_form" method="post" id="passwordForm" action="{% url 'forgot_password_reset_view' %}">
                {% csrf_token %}
                <div class="col-md-12 form-group mb-3">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required>
                        <div class="invalid-feedback">Password must be at least 8 characters long,
                            contain a
                            mix of uppercase, lowercase, numbers, and special characters.</div>
                </div>
                <input type="hidden" id="email" name="email" value="{{request.GET.email}}">

                <div class="col-md-12 form-group mb-3">
                    <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'" required>
                        <div class="invalid-feedback">Passwords do not match.</div>
                </div>
                
                <div class="col-md-12 form-group mb-3">
                    <button type="submit" value="submit" class="btn btn-success">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('passwordForm').addEventListener('submit', function (event) {
            event.preventDefault();
            validateForm();
        })

        document.getElementById('password').addEventListener('blur', validatePassword);
        document.getElementById('password2').addEventListener('blur', validatePassword2);

        function validatePassword() {
            var password = document.getElementById('password');
            var passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
            if (password.value.length < 8 || !passwordPattern.test(password.value)) {
                password.classList.add('is-invalid');
                return false;
            } else {
                password.classList.remove('is-invalid');
                return true;
            }
        }


        function validatePassword2() {
            var password2 = document.getElementById('password2');
            var password = document.getElementById('password');
            if (password2.value.length <= 0 || password.value !== password2.value) {
                password2.classList.add('is-invalid');
                return false;
            } else {
                password2.classList.remove('is-invalid');
                return true;
            }
        }


        function validateForm() {
            var isValid = true;
            if (!validatePassword()) isValid = false;
            if (!validatePassword2()) isValid = false;

            if (isValid) {
                document.getElementById('passwordForm').submit();
            }
        }


    </script>


{% if messages %}
    {% for i in messages %}
        {% if i.tags == 'warning' %}
            <script>
                Swal.fire('{{i}}', '', 'warning');
            </script>
        {% elif i.tags == 'error' %}
            <script>
                Swal.fire('{{i}}', '', 'error');
            </script>
        {% else %}
            <script>
                Swal.fire('{{i}}', '', 'success');
            </script>
        {% endif %}
    {% endfor %}
{% endif %}

{% endblock %}