{% extends 'user_base.html' %}
{% load static %}
{% block subcontent %}

<div class="container-fluid login-header py-5">
    <h1 class="text-center text-white display-6">Sign Up</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="{% url 'homepage_view' %}">Home</a></li>
        <li class="breadcrumb-item active text-white">Sign Up</li>
    </ol>
</div>

<div class="container-fluid d-flex justify-content-center py-5">
    <div class="col-lg-5">
        <div class="text-center rounder bg-light p-4">
            <h3>Sign Up</h3>
            <form class="row login_form" method="post" id="signupForm">
                {% csrf_token %}
                <div class="col-md-12 form-group mb-3">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Username"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'" required>
                    <div class="invalid-feedback">Username must be 5-30 characters long, contain
                        only
                        alphanumeric characters, and not start or end with hyphens or underscores.
                    </div>
                </div>

                <div class="col-md-12 form-group mb-3">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" required>
                    <div class="invalid-feedback">Please enter a valid email address.</div>
                </div>

                <div class="col-md-12 form-group mb-3">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required>
                    <div class="invalid-feedback">Password must be at least 8 characters long,
                        contain a
                        mix of uppercase, lowercase, numbers, and special characters.</div>
                </div>

                <div class="col-md-12 form-group mb-3">
                    <input type="password" class="form-control" id="password2" name="password2"
                        placeholder="Confirm Password" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Confirm Password'" required>
                    <div class="invalid-feedback">Passwords do not match.</div>
                </div>

                <div class="col-md-12 form-group mb-3">
                    <label>Enter Captcha</label>
                    {{ form.captcha.errors }}
                    <div class="captcha-image">
                        {{ captcha_form.captcha|safe }}
                    </div>
                </div>


                <div class="col-md-12 form-group mb-3">
                    <button type="submit" class="btn btn-primary" id="signupButton">Register</button>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="otpModal" tabindex="-1" aria-labelledby="otpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form method="post" id="otpForm" action="#">

                <div class="modal-body card px-5 py-5">
                    {% csrf_token %}
                    <h2> Verify Email </h2>
                    

                    <div class="row mb-4 mt-4">
                        <input id="otp" class="form-control" type="text" name="otp" placeholder="Enter OTP">
                    </div>

                    <button id="variantotp" type="submit" class="btn btn-success">Verify</button>

                </div>
                
            </form>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>


<script>
    document.getElementById('signupForm').addEventListener('submit', function (event) {
        event.preventDefault();
        validateForm();
    })

    document.getElementById('otpForm').addEventListener('submit', function (event){
            event.preventDefault();
            otp = document.getElementById('otp').value;
            email = document.getElementById('email').value;

            $.ajax({
                    url: "{% url 'verify_user_sign_up_otp' %}", 
                    type: 'POST',
                    data: {
                        'email':email,
                        'otp': otp,
                        'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
                    },
                    success: function (response) {
                        if (response.success) {
                            document.getElementById('signupForm').submit();
                        } else {
                            alert(response.error || 'An unknown error occurred.');
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('An unexpected error occurred. Please try again.');
                    }
                });

        })

    document.getElementById('name').addEventListener('blur', validateUsername);
    document.getElementById('email').addEventListener('blur', validateEmail);
    document.getElementById('password').addEventListener('blur', validatePassword);
    document.getElementById('password2').addEventListener('blur', validatePassword2);

    function validateUsername() {
        var username = document.getElementById('name');
        var usernamePattern = /^[a-zA-Z0-9]+$/;
        if (username.value.length < 5 || username.value.length > 30 || !usernamePattern.test(username.value) || /^[\-_]/.test(username.value) || /[\-_]$/.test(username.value)) {
            username.classList.add('is-invalid');
            return false;
        } else {
            username.classList.remove('is-invalid');
            return true;
        }
    }


    function validateEmail() {
        var email = document.getElementById('email');
        var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if (!emailPattern.test(email.value)) {
            email.classList.add('is-invalid');
            return false;
        } else {
            email.classList.remove('is-invalid');
            return true;
        }
    }


    function validatePassword() {
        var password = document.getElementById('password');
        var passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
        if (password.value.length < 8 || !passwordPattern.test(password.value)) {
            password.classList.add('is-invalid');
            return false;
        } else {
            password.classList.remove('is-invalid');
            return true;
        }
    }


    function validatePassword2() {
        var password2 = document.getElementById('password2');
        var password = document.getElementById('password');
        if (password2.value.length <= 0 || password.value !== password2.value) {
            password2.classList.add('is-invalid');
            return false;
        } else {
            password2.classList.remove('is-invalid');
            return true;
        }
    }


    function validateForm() {
        var isValid = true;
        if (!validateUsername()) isValid = false;
        if (!validateEmail()) isValid = false;
        if (!validatePassword()) isValid = false;
        if (!validatePassword2()) isValid = false;

        if (isValid) {
            // document.getElementById('signupForm').submit();
            document.getElementById('signupButton').disabled = true;
                verifyEmailAndShowModal();
        }
    }

    function verifyEmailAndShowModal() {
                const email = document.getElementById('email').value;

                if (!email) {
                    alert('Please enter your email address.');
                    return;
                }

                $.ajax({
                    url: "{% url 'verify_user_sign_up_email' %}", 
                    type: 'POST',
                    data: {
                        'email': email,
                        'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
                    },
                    success: function (response) {
                        if (response.success) {
                            $('#otpModal').modal('show');
                        } else {
                            alert(response.error || 'An unknown error occurred.');
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('An unexpected error occurred. Please try again.');
                    }
                });
            }
</script>

{% if messages %}
    {% for i in messages %}
        {% if i.tags == 'warning' %}
            <script>
                Swal.fire('{{i}}', '', 'warning');
            </script>
        {% elif i.tags == 'error' %}
            <script>
                Swal.fire('{{i}}', '', 'error');
            </script>
        {% else %}
            <script>
                Swal.fire('{{i}}', '', 'success');
            </script>
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock %}