    {% extends 'base2.html' %}
{% block content %}
<style>
    .checkbox-apple {
        position: relative;
        width: 50px;
        height: 20px;
        margin: 20px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .checkbox-apple label {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 25px;
        border-radius: 50px;
        background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .checkbox-apple label:after {
        content: '';
        position: absolute;
        top: 1px;
        left: 1px;
        width: 23px;
        height: 23px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease;
    }

    .checkbox-apple input[type="checkbox"]:checked+label {
        background: linear-gradient(to bottom, #4cd964, #5de24e);
    }

    .checkbox-apple input[type="checkbox"]:checked+label:after {
        transform: translateX(25px);
    }

    .checkbox-apple label:hover {
        background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
    }

    .checkbox-apple label:hover:after {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    }

    .yep {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 25px;
    }
    .suggestions-list {
        border: 1px solid rgb(211, 211, 211);
        max-height: 200px;
        overflow-y: auto;
        position: relative;
        width: 100%;
        background-color: black;
        z-index: 1000;
        display: none;
    }
    
    .suggestion-item {
        padding: 8px;
        cursor: pointer;
    }
    
    .suggestion-item:hover {
        background-color: #444444;
    }
</style>
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card p-3 mb-3">
            <div class="card-body py-0 px-0 px-sm-3">
                <div class="row align-items-center">
                    <h2>Products</h2>
                </div>
            </div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard_view' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'list_all_products' %}">Products</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Manage Products</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card mb-3 bg-none">
            <div class="card-body py-0 px-0 px-sm-3">
                <div class="row align-items-center">
                    <a href="{% url 'add_product' %}" class="w-100 btn btn-success btn-block p-2"><strong>+ Add New
                            Product</strong></a>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-center align-items-center">
    <form class="w-100" method="get" action="{% url 'list_all_products' %}">
        <div class="col-12">
            <div class="card mb-3 bg-none">
                <div class="card-body py-0 px-0 px-sm-3">
                    <div class="row align-items-center g-2">
                        <div class="col-12 d-flex align-items-center px-0 py-0 flex-wrap">
                            <select id="category_id" name="category_id" class="form-control text-light col-lg-3 col-md-5 col-sm-5 col-12 mb-2 mb-md-0">
                                <a href="{% url 'list_all_products' %}">
                                    <option value="" selected>All Category</option>
                                </a>
                                {% for id, category_name in categories %}
                                <option value="{{ id }}"  {% if request.GET.category_id == id|stringformat:"s" %} selected {% endif %} >
                                    {{ category_name }}</option>
                                {% endfor %}
                            </select>

                            <div class="position-relative col-lg-8 col-md-6 col-sm-6 col-12 mb-2 mb-md-0 px-lg-1 px-md-1 px-0">
                                <input type="text" class="form-control" placeholder="Search products" {% if request.GET.search_query %}
                                value="{{request.GET.search_query}}" {% endif %} name="search_query" id="search_query">
                                <div id="suggestions" class="suggestions-list"></div>
                            </div>

                            <button class="btn btn-dark col-1" type="submit"><i class="mdi mdi-magnify"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="row">
    <div class="col-12 grid-margin stretch-card">

        <div class="card p-3 mb-3">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Category</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Active</th>
                            <th>Inventory</th>
                            <th>Action</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody id="products-table-body">
                        {% if not result.error %}
                        {% for i in result.paginated_products %}
                        <tr style="height: 100px;">
                            <td>{{ forloop.counter }}</td>
                            <td>{{i.category_name}}</td>
                            <td>{{i.product_name}}</td>
                            <td>{{i.price}}</td>
                            <td>
                                <div class="checkbox-apple">
                                    <input class="yep" id="check-apple-{{ forloop.counter }}" type="checkbox" {% if i.is_active %} checked {% endif %} data-id="{{i.id}}"
                                        onchange="acticveCheck(event)">
                                    <label for="check-apple-{{ forloop.counter }}"></label>
                                </div>
                              </td>
                            <td>{{i.inventory}}</td>
                            <td><a href="{% url 'product_detail' slug=i.slug %}"><i class=" mdi mdi-eye "></i> View</a>
                            </td>
                            <td><a href="{% url 'delete_product' slug=i.slug %}"> <i class="mdi mdi-delete"></i> Delete</a></td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
<div class="pagination row stretch-card">

    <span class="step-links d-flex justify-content-center w-100">

        <div class="text-center align-items-center mr-2">
            <a class="btn btn-inverse-light" {% if not result.paginated_products.has_previous %}
                style="pointer-events: none;" {% else %} 
                href="?category_id={{ request.GET.category_id }}&search_query={{ request.GET.search_query }}&page=1" 
                {% endif %}>&laquo;</a>
        </div>
        <div class="text-center align-items-center mr-2">
            <a class="btn btn-inverse-light" {% if not result.paginated_products.has_previous %}
                style="pointer-events: none;" {% else %}
                href="?category_id={{ request.GET.category_id }}&search_query={{ request.GET.search_query }}&page={{ result.paginated_products.previous_page_number }}" 
                {% endif %}>&#8249;</a>
        </div>

        <span class="current mr-2">
            Page {% if result.paginated_products.number %}{{ result.paginated_products.number }} of {{ result.paginated_products.paginator.num_pages }}{% else %} 1 of 1 {% endif %}
        </span>

        <div class="text-center align-items-center mr-2">
            <a class="btn btn-inverse-light" {% if result.paginated_products.has_next %}
                href="?category_id={{ request.GET.category_id }}&search_query={{ request.GET.search_query }}&page={{ result.paginated_products.next_page_number }}" 
                {% else %} style="pointer-events: none;" {% endif %}>&#8250;</a>
        </div>
        <div class="text-center align-items-center">
            <a class="btn btn-inverse-light" {% if result.paginated_products.has_next %}
                href="?category_id={{ request.GET.category_id }}&search_query={{ request.GET.search_query }}&page={{ result.paginated_products.paginator.num_pages }}" 
                {% else %} style="pointer-events: none;" {% endif %}>&raquo;</a>
        </div>

    </span>
</div>

<script>
    function updateProductTable() {
        var categoryId = $('#category').val();
        var url;
        if (categoryId) {
            url = "{% url 'list_all_products_with_category' category_id=12345 %}".replace('12345', categoryId);
        } else {
            url = "{% url 'list_all_products' %}";
        }
        $.ajax({
            url: url,
            success: function (response) {
                console.log(response)
                if (!response.error) {
                    $('#products-table-body').html(response.html_table);
                    $('.pagination').html(response.html_pagination);
                } else {
                    alert(response.error);
                }
            }
        });
    }

    function acticveCheck() {
    var checkBox = event.target;
    var isActive = checkBox.checked;
    var productId = checkBox.getAttribute('data-id');

    $.ajax({
        url : "{% url 'product_status_change' %}",
        type : "POST",
        data : {
            'product_id': productId,
            'status' : isActive,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success : function(response) {
            if (response.success){
                alert(response.msg);
            } else {
                alert(response.error)
                checkBox.checked = !isActive;
            }
        },
        error : function(xhr, status, error){
            console.log("An error occured ", error);
            checkBox.checked = !isActive;
        }
    });
}


</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('search_query').addEventListener('input', function () {
                var query = this.value;
                console.log(query)
                var suggestions = document.getElementById('suggestions');
                console.log(query)
                if (query.length > 1) {
                    fetch('{% url "product_search_suggestions" %}?q=' + query)
                        .then(response => response.json())
                        .then(data => {
                            suggestions.style.display = 'block';
                            suggestions.innerHTML = '';
                            data.forEach(function (item) {
                                var suggestionItem = document.createElement('div');
                                suggestionItem.classList.add('suggestion-item');
                                suggestionItem.textContent = item.id + ' - ' + item.name;
                                suggestionItem.addEventListener('click', function () {
                                    document.getElementById('search_query').value = item.name;
                                    suggestions.innerHTML = '';
                                });
                                suggestions.appendChild(suggestionItem);
                            });
                        });
                } else {
                    document.getElementById('suggestions').innerHTML = '';
                }
            });
        });
</script>


{% endblock %}