{% extends 'user_base.html' %}
{% load static %}
{% block subcontent %}

<style>
    svg {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
    }

    circle {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
    }

    @keyframes rotate4 {
    100% {
    transform: rotate(360deg);
    }
    }

    @keyframes dash4 {
    0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    }

    50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
    }

    100% {
    stroke-dashoffset: -125px;
    }
    }
    #ajax-loader {
    display: none;
}
</style>
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Wishlist</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="{% url 'homepage_view' %}">Home</a></li>
        <li class="breadcrumb-item active text-white">Wishlist</li>
    </ol>
</div>

<div class="container-fluid fruite py-5">
    <div class="container py-5">
            <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="row g-5 justify-content-center" id="product-container">
                            {% if wishlist %}
                                {% for product in wishlist %}   
                                <div class="col-md-3 col-lg-3 col-xl-3 mb-4">
                                    <div
                                        class="rounded position-relative fruite-item border border-primary h-100 d-flex flex-column">
                                        <div class="fruite-img d-flex align-items-center justify-content-center"
                                            style="height: 200px; background-color: #f8f9fa;">
                                            {% if product.media_file %}
                                            <img src="/media/{{product.media_file}}" class="img-fluid w-750 h-100 rounded-top" alt="" style="object-fit: cover;">
                                            {% else %}
                                            <p class="text-center text-muted">No image available</p>
                                            {% endif %}
                                        </div>

                                        <a class="text-white " href="{% url 'remove_from_wislist' %}?product_id={{product.product_id}}">
                                        <div class="bg-primary px-3 py-1 rounded position-absolute"
                                            style="top: 10px; left: 10px;">
                                                <i class="bi bi-trash"></i>
                                        </div>
                                        </a>

                                        <div 
                                            class="p-4 border-top-0 rounded-bottom flex-grow-1 d-flex flex-column justify-content-between">
                                            <h4 style="height: 60px; overflow: hidden;">{{ product.product_name }}</h4>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <p class="text-dark fs-5 fw-bold mb-0" id="product-price">${{ product.price }}</p>
                                                {% if not product.is_active or product.stock == 0 %}
                                                <button class="btn border border-secondary rounded-pill px-3 text-primary" disabled> Unavailable
                                                </button>
                                                
                                                {% else %}
                                                <a href="{% url 'product_detail_view' slug=product.slug %}"
                                                    class="btn border border-secondary rounded-pill px-3 text-primary">
                                                    <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                                                </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            {% else %}
                            <p class="text-center">No Item Added</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
    var slug = '{{ request.GET.slug|default:'' }}';
    var searchquery = '{{ request.GET.search_query|default:'' }}';
    var nextPageNumber = {{ next_page_number }};
    var hasNext = {{ has_next|lower }};
    

    function loadMoreProducts() {
        if (hasNext) {
            // $('#ajax-loader').show();
            $.ajax({
                type: 'GET',
                url: '{% url "wishlist" %}',
                data: {
                    page: nextPageNumber,
                    slug: slug,
                    search_query: searchquery,
                    ajax: true
                },
                success: function(data) {
                    var response = JSON.parse(data);
                    var $html = $(response.html);
                    // $('#ajax-loader').hide();

                    $('#product-container').append($html);

                    nextPageNumber = response.next_page_number;
                    hasNext = response.has_next;

                    observer.unobserve(document.querySelector('#product-container > div:last-child'));
                    observer.observe(document.querySelector('#product-container > div:last-child'));

                    // setTimeout(function() {
                    //     $('#ajax-loader').hide();
                    // }, 1000);

                    if (!hasNext) {
                        observer.disconnect();
                    }
                },
                error: function(xhr, status, error) {
                    console.error('AJAX error:', status, error);
                }
            });
        }
    }

    function observeLastProduct() {
            var lastProduct = document.querySelector('#product-container > div:last-child');
            if (lastProduct) {
                observer.observe(lastProduct);
            }
        }

    var observer = new IntersectionObserver(function(entries) {
        if (entries[0].isIntersecting && hasNext) {
            setTimeout(function() {
                loadMoreProducts();
            }, 1000);
        }
    }, { threshold: 1.0 });

    observeLastProduct();
});
</script>

{% if messages %}
    {% for i in messages %}
        {% if i.tags == 'warning' %}
            <script>
                Swal.fire('{{i}}', '', 'warning');
            </script>
        {% elif i.tags == 'error' %}
            <script>
                Swal.fire('{{i}}', '', 'error');
            </script>
        {% else %}
            <script>
                Swal.fire('{{i}}', '', 'success');
            </script>
        {% endif %}
    {% endfor %}
{% endif %}


{% endblock %}