{% extends 'user_base.html' %}
{% load static %}
{% block subcontent %}
<div class="container-fluid profile-header py-5">
    <h1 class="text-center text-white display-6">Terms of Use</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="{% url 'homepage_view' %}">Home</a></li>
        <li class="breadcrumb-item active text-white">Terms of Use</li>
    </ol>
</div>

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <h3>Terms of Use</h3>
                </div>

                <div class="row g-4">
                    <h5>Introduction</h5>
                </div>
                <div class="row g-4 mb-5">
                    <p>
                        Welcome to DM. These Terms of Use govern your access to and use of our website,
                        services, and products. By using our website, you agree to comply with these terms. If you do
                        not agree with any part of these terms, please do not use our website.
                    </p>
                </div>

                <div class="row g-4">
                    <h5>Use of Our Website</h5>
                </div>
                <div class="row g-4">
                    <p>
                    <ul>
                        <li>
                            <strong>Eligibility:</strong> You must be at least [Minimum Age] years old to use our
                            website. By using our site, you represent and warrant that you meet this age requirement.
                        </li>
                        <li>
                            <strong>
                                Account:</strong> When you create an account on our website, you agree to provide
                            accurate and complete information. You are responsible for maintaining the confidentiality
                            of your account details and for all activities that occur under your account.
                        </li>
                        <li>
                            <strong>
                                Prohibited Activities:</strong> You agree not to engage in any of the following
                            prohibited activities:
                            <ul>
                                <li>
                                    Violating any laws or regulations.
                                </li>
                                <li>
                                    Using our website for any fraudulent or deceptive purposes.
                                </li>
                                <li>
                                    Interfering with the security or proper functioning of our website.
                                </li>
                                <li>
                                    Uploading or transmitting any viruses, malware, or harmful content.
                                </li>
                                <li>
                                    Copying, distributing, or disclosing any part of our website in any medium.
                                </li>
                            </ul>
                        </li>
                    </ul>
                    </p>
                </div>

                <div class="row g-4">
                    <h5>Purchases and Payments</h5>
                </div>
                <div class="row g-4">
                    <p>
                    <ul>
                        <li>
                            <strong>Product Availability:</strong> All products listed on our website are subject to
                            availability. We reserve the right to limit the quantities of any products or services we
                            offer.
                        </li>
                        <li>
                            <strong>
                                Pricing:</strong> Prices for our products are subject to change without notice. We make
                            every effort to display accurate pricing, but errors may occur. In the event of a pricing
                            error, we reserve the right to cancel or refuse any orders placed at the incorrect price.
                        </li>
                        <li>
                            <strong>
                                Payment:</strong> By placing an order, you agree to pay the full amount for the products
                            and any applicable taxes and shipping fees. Payment must be made using one of the accepted
                            payment methods on our website.
                        </li>
                    </ul>
                    </p>
                </div>

                <div class="row g-4">
                    <h5>Shipping and Delivery</h5>
                </div>
                <div class="row g-4">
                    <p>
                    <ul>
                        <li>
                            <strong>
                                Shipping:</strong> We ship products to [Countries/Regions]. Shipping times and costs
                            vary depending on your location and the shipping method selected. Delivery dates are
                            estimates and are not guaranteed.
                        </li>
                        <li>
                            <strong>
                                Customs and Duties:</strong> For international orders, you are responsible for any
                            customs duties, taxes, or fees that may apply.
                        </li>
                    </ul>
                    </p>
                </div>

                <div class="row g-4">
                    <h5>Returns and Refunds</h5>
                </div>
                <div class="row g-4">
                    <p>
                    <ul>
                        <li>
                            <strong>
                                Return Policy:</strong> We offer a [Number of Days]-day return policy for most products. Items must be returned
                            in their original condition and packaging. Some items may not be eligible for return, including [Non-Returnable
                            Items].
                        </li>
                        <li>
                            <strong>
                                Refunds:</strong> Refunds will be issued to the original payment method within [Number of Days] after we receive
                            the returned items. Shipping fees are non-refundable.
                        </li>
                    </ul>
                    </p>
                </div>

                <div class="row g-4">
                    <h5>Intellectual Property</h5>
                </div>
                <div class="row g-4">
                    <p>
                    <ul>
                        <li>
                            <strong>
                                Ownership:</strong> All content on our website, including text, graphics, logos, and images, is the property of
                            DM or our content suppliers and is protected by copyright, trademark, and other intellectual property
                            laws.
                        </li>
                        <li>
                            <strong>
                                Limited License:</strong> We grant you a limited, non-exclusive, non-transferable license to access and use our
                            website for personal, non-commercial purposes. You may not reproduce, distribute, or create derivative works from
                            our content without our express written permission.
                        </li>
                    </ul>
                    </p>
                </div>

                <div class="row g-4">
                    <h5>Disclaimer of Warranties</h5>
                </div>
                <div class="row g-4 mb-5">
                    <p>
                        Our website and all products and services offered through it are provided "as is" and "as available," without any
                        warranties of any kind, either express or implied. We do not warrant that our website will be uninterrupted, error-free,
                        or free from viruses or other harmful components.
                    </p>
                </div>
                <div class="row g-4">
                    <h5>Limitation of Liability</h5>
                </div>
                <div class="row g-4 mb-5">
                    <p>
                        To the fullest extent permitted by law, DM shall not be liable for any direct, indirect,
                        incidental, special, or consequential damages arising from your use of our website or products, including but
                        not limited to loss of profits, data, or goodwill.
                    </p>
                </div>

                <div class="row g-4">
                    <h5>Indemnification</h5>
                </div>
                <div class="row g-4 mb-5">
                    <p>
                        You agree to indemnify and hold harmless DM, its affiliates, officers, employees, and agents from
                        any claims, damages, liabilities, and expenses (including legal fees) arising out of your use of our website,
                        your violation of these terms, or your violation of any rights of another party.
                    </p>
                </div>

                <div class="row g-4">
                    <h5>Changes to These Terms</h5>
                </div>
                <div class="row g-4 mb-5">
                    <p>
                        We reserve the right to update or modify these Terms of Use at any time without prior notice. Any changes will
                        be effective immediately upon posting to our website. Your continued use of our website following the posting of
                        changes constitutes your acceptance of those changes.
                    </p>
                </div>

                <div class="row g-4">
                    <h5>Governing Law</h5>
                </div>
                <div class="row g-4 mb-5">
                    <p>
                        These Terms of Use are governed by and construed in accordance with the laws of [Your Country/State], without
                        regard to its conflict of law principles. Any disputes arising from these terms or your use of our website shall
                        be resolved in the courts of [Your Jurisdiction].
                    </p>
                </div>

                <div class="row g-4">
                    <h5>Contact Us</h5>
                </div>
                <div class="row g-4 mb-5">
                    <p>
                        If you have any questions or concerns about this Privacy Policy, please contact us at:
                    </p>
                
                    <p> DM </p>
                
                    <p>Address: 1429 Netus Rd, NY 48247</p>
                    <p>Email: Example@gmail.com</p>
                    <p>Phone: +0123 4567 8910</p>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}